{% load static %}

<html>
    <head>
        <title>Graph Coloring using MiniSAT</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div class="sidebar">
            <h5>Draw a graph by clicking this vertex / edge button below, then place it in the canvas</h5>
            <a id="vertex" title="Draw Vertex">Draw Vertex</a>
            <a id="edge" title="Draw Edge" >Draw Edge</a>
            <a id="clear" title="Crear the graph">Reset Canvas</a>
            <br>
            <h5>Press this button to see the graph coloring of the graph!</h5>
            <button id="submit" onclick="send()" style="background-color: #F7A400" title="Press to see Graph Coloring!"><b>Coloring the Graph!</b></button>
            <br><br>
            <div style="font-size: 12px; color: #595aa7; text-align: center;">
                <p>© Kelompok 18 </p>
                <p>Kelas Logika Komputasional</p>
                <p>Sem. Genap Th. 2019/2020</p>
            </div>

        </div>
        <div class="content">
            
        <center><h2>Graph Coloring Using MiniSAT</h2></center>
        <center><canvas id="myCanvas" width="800" height="500" style="background-color: #ffffff;">
            Your browser does not support the HTML5 canvas tag.
        </canvas><center>
        </div>

        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>



