@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

#buttonarea {
    width: 100px;
    height: 440px;
    position: absolute;
    left: 0px;
    top: 75px; 
    background: #35d128;
}
        
#graph {
    position: absolute;
    left: 250px;
    top: 75px;
}
        
#heading {
    position: absolute;
    left: 560px;
    top: 0px;
    color: #ffffff;
}


body {
  margin: 0;
  background-color: #1A1B4B;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}

.sidebar {
  margin: 0;
  padding: 8px;
  padding-top: 50px;
  width: 210px;
  background-color: #292A73;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  margin: 4px 0px 20px 0px;
  text-decoration: none;
  background-color: #3E4491; 
  color: white;
  border-radius: 10px;
  text-align: center;
}
 
.sidebar a:active {
  background-color: #F7A400;
  color: white;
}

.sidebar a:hover {
  background-color: #3A9EFD;
  color: white;
}
#submit:hover {
  background-color: #d69108;
  color: white;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

button {
  display: block;
  color: white;
  padding: 16px;
  margin: 4px 0px 20px 0px;
  text-decoration: none;
  background-color: #3E4491; 
  color: white;
  border-radius: 10px;
  text-align: center;  
  width: 100%;
}
button:focus {outline:0;}
